<div>
  <div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="counter" routerLinkActive="active"
          >Counter</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="animals" routerLinkActive="active"
          >List Courses</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="courses" routerLinkActive="active"
          >List Courses</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="create-course" routerLinkActive="active"
          >Create Course</a
        >
      </li>
    </ul>
  </div>
  <h1 style="background-color: red; text-align: center; width: 100%">
    The Single Page Application
  </h1>
  <router-outlet></router-outlet>
</div>
